.dashboard-table td {
  vertical-align: top;
}

.config-buildings-component {
  padding: 24px;
}

.dashboard-table td {
  vertical-align: top;
}

.w-800 {
  width: 800px;
}

.new-configuration-button {
  width: fit-content;
}
.tableScroll {
  width: 100%;
  /*overflow-y: auto;*/
  border: 2px solid #e7e8e8;
}

.table-head-width {
  width: calc(100% - 10px);
}

.tableScroll .dashboard-table th {
  border:0;
}
.tableScroll .dashboard-table th {
  border-right: 2px solid #e7e8e8;
}

.tableScroll .dashboard-table th:last-child {
  border-right: 0;
}

.tableScroll .dashboard-table th h2 {
  margin: 0;
}

.tableScroll-body .dashboard-table tr:first-child td{
  border-top: 0;
}

.tableScroll-body .dashboard-table tr:last-child td{
  border-bottom: 0;
}

.tableScroll-body .dashboard-table tr td:last-child{
  border-right: 0;
}

.tableScroll-body td {
  border-left: 0;
}

.tableScroll table {
  border: 0;
}

.tableScroll-body {
  max-height: 450px;
  width: 100%;
  /*overflow-y: auto;*/
  border-top: 2px solid #e7e8e8;
}

.tableScroll .num {
  width: 25px;
}

select option:hover {
  color: #000;
  box-shadow: inset 20px 20px #00f;
}

.demo-active-state .button-primary {
  background-color: #56bae2;
  border: 1px solid #56bae2;
}

.sizeCheck {
  width: 40px;
}

.sizeRow {
  width: 200px;
}

.sDiagram {
  width: 500px;
}

.sActive {
  width: 230px;
}


.display-none{
  display: none;
}

.active-text {
  /*padding: 5px 8px 5px 8px;*/
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1c4167;
}

.active-text:hover {
  color:#56bae2;
}

.active-row {
  display: flex;
  flex-wrap: wrap;
}

.table-link {
  display: none;
}

:host ::ng-deep .p-paginator{
  justify-content: flex-end;
  border: 0;
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
  border-radius: 50%;
}

:host ::ng-deep .p-datatable-scrollable-header-box{
  padding-right: 0!important;
}

:host ::ng-deep .p-paginator {
  padding: 0.5rem 0;
}

:host ::ng-deep .p-paginator .p-paginator-current{
  padding: 0;
}

:host ::ng-deep .p-link{
  font-size: 14px;
}

:host ::ng-deep .p-component{
  font-size: 14px;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
  padding: 0.2rem 1rem;
}

.search-input {
  padding: 5px 5px 5px 30px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  background: #ffffff;
}

.search-input:enabled:focus{
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.2);
  border-color: #728da9;
}
