.text-start{
  text-align: start;
}

.modal-height {
  max-height: calc(100vh - 350px);
}

.button-elem {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.button-elem a{
  width: 150px;
}

.button-cancel {
  margin-left: 10px;
}

.nowrap {
  white-space: nowrap;
}
