<div class="logout-component">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="login-card img-login">
                <div class="row" style="padding: 2%;">
                    <div class="col-6 col-md-6 col-sm-6 col-lg-6">
                        <h3 class="logout-heading">Logged Out</h3>
                    </div>
                    <div class="col-6 col-md-6 col-sm-6 col-lg-6">
                        <select class="language-toggle">
                            <option selected disabled>Select Language</option>
                            <option value="EN" selected>EN</option>
                            <option value="PL">PL</option>
                          </select>
                    </div>
                </div>
                <div class="row" style="padding: 2%;">
                    <div class="col-6 col-md-6 col-sm-6 col-lg-6">
                        <p class="p-text">You have been signed out successfully</p>
                    </div>
                </div>

                <div class="row" style="padding: 2%;">
                    <div class="col-6 col-md-6 col-sm-6 col-lg-6">
                        <p class="p-text-2">
                            Click here to <a routerLink="../login">login</a> again.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>