<div class="sidebar-bg-light border-right" id="sidebar-wrapper" [ngClass]="{'toggled': toggled}"
     (window:resize)="onResize($event)">
  <div class="sidebar-heading">
    <div class="sidebar-logo" alt="ileco-image">
    </div>
  </div>
  <div class="list-group list-group-flush">
<!--    <a routerLink="/equipment" routerLinkActive="active"-->
<!--       class="list-group-item list-group-item-action sidebar-bg-light">-->
<!--      <img src="../../../../assets/images/sidebar/overview.png" class="sidebar-icon" alt="sidebar-image">-->
<!--      <span class="sidebar-text">Assets</span>-->
<!--    </a>-->
<!--    <a routerLink="/parameters" routerLinkActive="active"-->
<!--       class="list-group-item list-group-item-action sidebar-bg-light">-->
<!--      <img src="../../../../assets/images/sidebar/overview.png" class="sidebar-icon" alt="sidebar-image">-->
<!--      <span class="sidebar-text">Asset classes</span>-->
<!--    </a>-->
<!--    <a routerLink="/files" routerLinkActive="active"-->
<!--       class="list-group-item list-group-item-action sidebar-bg-light">-->
<!--      <img src="../../../../assets/images/sidebar/overview.png" class="sidebar-icon" alt="sidebar-image">-->
<!--      <span class="sidebar-text">Update library</span>-->
<!--    </a>-->
<!--    <a routerLink="/configuration" routerLinkActive="active"-->
<!--       class="list-group-item list-group-item-action sidebar-bg-light">-->
<!--      <img src="../../../../assets/images/sidebar/overview.png" class="sidebar-icon" alt="sidebar-image">-->
<!--      <span class="sidebar-text">Products</span>-->
<!--    </a>-->
    <a routerLink="/templates" routerLinkActive="active"
       class="list-group-item list-group-item-action sidebar-bg-light">
      <img src="../../../../assets/images/sidebar/overview.png" class="sidebar-icon" alt="sidebar-image">
      <span class="sidebar-text">Templates</span>
    </a>
<!--    <a routerLink="/configBuildings" routerLinkActive="active"-->
<!--       class="list-group-item list-group-item-action sidebar-bg-light">-->
<!--      <img src="../../../../assets/images/sidebar/overview.png" class="sidebar-icon" alt="sidebar-image">-->
<!--      <span class="sidebar-text">Buildings</span>-->
<!--    </a>-->
    <div class="toggle-container list-group-item list-group-item-action toggleBG" [ngClass]="{'toggled': toggled}">
      <button class="btn" id="menu-toggle" (click)="toggledSideBar()">
        <div class="toggledIcon">
        </div>
      </button>
    </div>
  </div>
</div>
