<div class="text-center text-center size">
  <button pButton type="button" label="Save configuration" class="btnLogout new-configuration-button button-back" (click)="buttonClick()"></button>
</div>

<!-- Form Modal -->
<div class="modal" [ngClass]="{ active: formModal }" (click)="closeModal($event)">
  <div class="modal-dialog" role="dialog" style="width: 800px">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-md-12">
          <div class="card-title-container">
            <h5 class="card-title">Save configuration</h5>
          </div>
          <div class="col-md-2 dialog-close-btn-container">
            <button type="button" class="close" data-dismiss="modal" (click)="formModal = false"></button>
          </div>
        </div>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-5">
            <label class="form-label">Name configuration</label>
          </div>
          <div class="col-md-7">
            <div class="form-group">
              <input type="text" class="form-control" maxlength="150" [(ngModel)]="name"/>
            </div>
          </div>
        </div>
        <!--Button-->
        <div class="button-elem">
          <div class="">
            <a class="btnLogout" (click)="save()">Save</a>
          </div>
          <div class="button-cancel">
            <a class="btnLogout" (click)="formModal = false">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
