<nav class="navbar navbar-expand-lg navbar-light header-bg-light border-bottom">
    <div class="header-text">
        <p>Reporting</p>
    </div>
    <div class="navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav ml-auto mt-2 mt-lg-0">
            <div class="nav-item" style="font-weight: bold;">
                <a class="nav-link" data-toggle="dropdown">
                    <span class="name-circle">
                      <span class="name-letter">{{ (name != null) ? ((name.length > 2) ? (name | slice:0:1) : (name)) : "..." }}</span>
                    </span>
                    <span class="logout-text">{{ (name != null) ? ((name.length > 11) ? (name | slice:0:1) + '...' : (name)) : "..." }}</span>
                </a>
                <ul class="profile-dropdown dropdown-menu">
                    <!--<li><a routerLink="../../profile" class="profile-option" >Profile</a></li>-->
                    <li class="divider"></li>
                    <li (click)="logoutModal = true"><a class="profile-option">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- Logout Modal -->
<div class="modal" [ngClass]="{'active': logoutModal}" (click)="closeModal($event)">
    <div class="modal-dialog" role="dialog" style="width: 800px;">
        <div class="modal-content">

            <div class="modal-header">
                <div class="col-md-12">
                    <div class="col-md-2 dialog-close-btn-container">
                        <button type="button" class="close" data-dismiss="modal" (click)="logoutModal = false"></button>
                    </div>
                </div>
            </div>

            <div class="modal-body img-login" style="overflow-x: hidden;">
                <div class="row" style="padding: 2%;">
                    <div class="col-12 col-md-12 col-sm-12 col-lg-12">
                        <h3 class="confirm-logout-heading">Log Out</h3>
                    </div>
                </div>
                <div class="row" style="padding: 2%;">
                    <div class="col-12 col-md-12 col-sm-12 col-lg-12">
                        <p class="p-text">Are you sure you want to log out?</p>
                    </div>
                </div>

                <div class="row" style="padding: 2%;">
                    <div class="col-4 col-md-4 col-sm-4 col-lg-4">
                        <a class="btnLogout" (click)="logout()">Confirm Logout</a>
                    </div>
                    <div class="col-4 col-md-4 col-sm-4 col-lg-4">
                        <a class="btnLogout" (click)="logoutModal = false">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
