<div class="templates-component">
  <!-- Breadcrumb Card -->
  <div class="row">
    <div class="col-md-4">
      <div class="breadcrumb-card">
        <p class="breadcrumb-text">
          Templates
        </p>
      </div>
    </div>
  </div>

  <!--card-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row ml-2">
          <div class="ml-2">
            <a class="btnLogout" (click)="openTemplateEditor()">Open template editor</a>
          </div>
        </div>
        <div class="row ml-2">
          <div class="ml-2">
            <a class="btnLogout" (click)="logoutTemplateEditor()">Logout template editor</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

